* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1179px;
    margin: 0 auto;
    padding: 0 15px;
}

body{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #5e5e5e;
}

.header__top {
    background-color: #303030;
}

.header__btn {
    float: right;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    color: #1b1b1b;
    background-color: #ffc222;
    padding: 5px 20px 4px 50px;
    font-size: 16px;
    position: relative;
}

.header__btn::before {
    font-family: 'icomoon';
    content: "\f0b1";
    position: absolute;
    left: 22px;
    color: #1b1b1b;
}

.header__contacts:after {
    content: "";
    clear: both;
    display: block;
}

.header__phone, 
.header__email{
    color: #cbcacb;
    letter-spacing: 0.25px;
    line-height: 45px;
    position: relative;
}

.header__phone{
    padding-left: 20px;
    padding-right: 30px;
}

.header__phone::before {
    font-family: 'icomoon';
    content: "\f095";
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__email{
    padding-left: 24px;
}

.header__email::before {
    font-family: 'icomoon';
    content: "\f003";
    position: absolute;
    left: 0;
    color: #ffc222;
}

.header__content {
    padding: 24px 0px 23px;
}

.header__content-inner {
    display: flex;
    justify-content: space-between;
}

.menu li{
    display: inline-block;
}

.menu a {
    color: #323232;
    font-size: 16px;
    line-height: 36px;
    border: 1px solid transparent;
    padding: 0px 16px;
    transition: all 0.3s;
}

.menu a:hover {
    border-color: #ffc222;
}

.menu li + li {
    padding-left: 10px;
}

#modal {
    display: none;
}

.slider {
    background-image: url(../img/backgr1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 500px;
}


.slider__item-content {
    text-align: center;
    padding-top: 110px;
    max-width: 665px;
    margin: 0 auto;
}

.slider__title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 36px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1.5px;
    margin-bottom: 22px;
    font-family: 'Roboto', sans-serif;
}

.slider__text {
    line-height: 24px;
    font-size: 18px;
    color: #d3d2d2;
    margin-bottom: 50px;
}

.slider__btn {
    display: inline-block;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 8px 50px 8px 24px;
    border: 1px solid #ffc222;
}
